html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
 }

*, *:before, *:after {
  box-sizing: inherit;
}


.top-navigation {
	background-color: #fff;
	height: 4.375em;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.content {
	width: 60%;
	height: 4.375em;
	margin: 0 auto;
	padding: 0px 15px;
}

.logo {
	margin-top: 0.7em;
	height: 3em;
}


.links {
	float: right;
	color: #010F27;
	margin-top: 1.4em;
	font-size: 1.04em;
	letter-spacing: 0.03em;
	font-weight: 800;
	transition: color 0.5s ease;
}


.links li {
	display: inline-block;
	margin-left: 1.5em;
}

.links > .active {
	color: #2EA7D9;
	font-weight: 800;
}

.links li:hover {
	color: #2EA7D9;
	cursor: pointer;
}

.masthead {
	background-image: url(../images/space-masthead1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 bottom;
	height: 60rem;
	overflow: auto;
}

.masthead h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}

.masthead h3 {
	font-size: 1.7rem;
	margin-top: 1rem;
}

.masthead h1,
.masthead h3 {
	color: #F4F2F4;
	text-align: center;
	font-weight: 700;
	margin-bottom: 0rem;
}

.button {
	color: white;
	margin-top: 5rem;
	text-align: center;
}

button {
	text-align: center;
	background-color: #2EA7D9;
	border-color: #2EA7D9;
	border-style: none;
	border-radius: 3px;
	padding: 1rem 2rem;
	color: #F4F2F4;
	font-size: 1.125rem;
}

button:hover {
	background-color: #010F27;
	cursor: pointer;
}

.social {
	border: 2px solid orange;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	height: 12rem;
	margin-bottom: 5rem;
}


.footer-left {
	border: 2px solid black;
	float: left;
	position: relative;
	width: 50%;
	text-align: left;
}


.social h5 {
	font-weight: 400;
	font-size: 1rem;
}

.icons {
	padding-right: 2.5rem;
	text-align: left;
}

.icons li:hover {
	cursor: pointer;
}

.icons li {
	display: inline-block;
	margin: 0.5rem;	
}

.social .soundcloud {
	color: #FF6300;
}

.social .facebook {
	color: #4c66a4;
}

.social .twitter {
	color: #55acee;
}

.social .youtube {
	color: #CC181E;
}

.social span {
	font-weight: 200;
	color: black;
	font-size: 0.8rem;
}

.footer-right {
	border: 2px solid black;
	float: right;
	position: relative;
	width: 50%;
	text-align: right;
}